.fade * {
    animation: fadein 1s;
}
.opaque {
    opacity: var(--opaque);
}
.fade .opaque {
    animation: fadein-opaque 1s;
}

.monitor-pixelation::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--pixelation);
    z-index: 2;
    background-size: 100% 0.125rem, 0.1875rem 100%;
    pointer-events: none;
}

.monitor-diffusion{
    background-image: radial-gradient(
      var(--color-opaque), var(--color-background)
    );
}
.monitor-flicker::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--color-flicker);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}
.text-diffusion{    
    text-shadow: 0 0 0.15rem;
}
.text-flicker{
    animation: textShadow 1.6s infinite;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein-opaque {
    from { opacity: 0; }
    to   { opacity: var(--opaque); }
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
}
  
  @keyframes textShadow {
    0% {
      text-shadow: 0.03rem 0 0.07rem var(--color-dim), -0.03rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    5% {
      text-shadow: 0.17rem 0 0.07rem var(--color-dim), -0.17rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    10% {
      text-shadow: 0 0 0.07rem var(--color-dim), 0 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    15% {
      text-shadow: 0.03rem 0 0.07rem var(--color-dim), -0.03rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    20% {
      text-shadow: 0.15rem 0 0.07rem var(--color-dim), -0.15rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    25% {
      text-shadow: 0.1rem 0 0.07rem var(--color-dim), -0.1rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    30% {
      text-shadow: 0.05rem 0 0.07rem var(--color-dim), -0.05rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    35% {
      text-shadow: 0.18rem 0 0.07rem var(--color-dim), -0.18rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    40% {
      text-shadow: 0.25rem 0 0.07rem var(--color-dim), -0.25rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    45% {
      text-shadow: 0.14rem 0 0.07rem var(--color-dim), -0.14rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    50% {
      text-shadow: 0 0 0.07rem var(--color-dim), 0 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    55% {
      text-shadow: 0.14rem 0 0.07rem var(--color-dim), -0.14rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    60% {
      text-shadow: 0.14rem 0 0.07rem var(--color-dim), -0.14rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    65% {
      text-shadow: 0.18rem 0 0.07rem var(--color-dim), -0.18rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    70% {
      text-shadow: 0.03rem 0 0.07rem var(--color-dim), -0.03rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    75% {
      text-shadow: 0.11rem 0 0.07rem var(--color-dim), -0.11rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    80% {
      text-shadow: 0 0 0.07rem var(--color-dim), 0 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    85% {
      text-shadow: 0 0 0.07rem var(--color-dim), 0 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    90% {
      text-shadow: 0.15rem 0 0.07rem var(--color-dim), -0.15rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    95% {
      text-shadow: 0.2rem 0 0.07rem var(--color-dim), -0.2rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
    100% {
      text-shadow: 0.16rem 0 0.07rem var(--color-dim), -0.16rem 0 0.07rem var(--color-silhuet), 0 0 0.1rem;
    }
}