@import "image.css";
@import "layout.css";
@import "scroll-bar.css";


p {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: 2.5rem;
    line-height: 1rem;
    word-wrap: break-word;
}
button, input {
    text-align: left;
    margin: 0.2rem;
    display: block;
    min-height: 2.1rem;
    line-height: 1rem;
    padding: 0.55rem;
    word-wrap: break-word;
    border-left: 0.1rem solid var(--color-silhuet);
}

input,
button,
textarea,
[contenteditable] {
    width: calc(100% - 0.4rem);
    text-shadow: inherit;
    color: inherit;
    cursor: inherit;
    background-color: inherit;
    caret-color:var(--color-main);
    user-select: auto;
    outline: none;  
    border:none;
}
::placeholder {
    opacity: var(--opaque);
    color: inherit;
    text-overflow: ellipsis !important;
}
::selection {
    background: var(--color-dim);
}

.touch button,
.touch input {
    cursor: pointer;
}

button.selected,
.hover button:hover,
input.selected,
input:focus,
.hover input:hover
{   
     background-color: var(--color-silhuet);
}

.content-diffusion .selected,
.content-diffusion.hover button:hover
{
    box-shadow:  0 0 0.15rem var(--color-silhuet);
}

/*Strong highligt for Focus || Selected && hover*/
.hover button:focus:hover,
.hover button.selected:hover {    
    background-color: var(--color-dim); 
}
.content-diffusion.hover button:focus:hover,
.content-diffusion.hover button.selected:hover {
    box-shadow: 0 0 0.15rem var(--color-dim);
}