.app-layout{
    height: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: 13rem 2.2rem auto 2.2rem 19rem;
    grid-template-rows: auto;
    min-width: 60rem;   
}
.app-navigation{
    grid-column: 1 / 2;
    overflow-y: auto;
    overflow-x: hidden;
}
.app-left-border {
    grid-column: 2 / 3;
}
.app-content {
    grid-column: 3 / 4;
    overflow-y: auto;
    overflow-x: auto;    
}
.app-right-border {
    grid-column: 4 / 5;
}
.app-io{
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}
.app-console{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 5rem;
}